name: Build wgpu-native

on:
  workflow_dispatch:

env:
  WGPU_VER: "0.15.1.2"
  WGPU_AAR_VER: "0.15.1.2.6"
  WGPU_VER_CODE: "150102"
  ANDROID_MIN_SDK: "23"
  ANDROID_NDK_VER: r25c

jobs:
  build-wgpu:
    name: build-wgpu-for-android
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # 初始化环境
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@1.68
        
      # 设置 Android NDK
      - name: Setup Environment
        shell: bash
        run: |
          set -ex
          echo "WGPU_AAR_VER=$WGPU_AAR_VER" >> $GITHUB_ENV

      # 设置 Android NDK
      - name: Setup Android NDK
        shell: bash
        run: |
          set -ex
          curl -LO https://dl.google.com/android/repository/android-ndk-$ANDROID_NDK_VER-linux.zip
          unzip android-ndk-$ANDROID_NDK_VER-linux.zip
          rm android-ndk-$ANDROID_NDK_VER-linux.zip

          export ANDROID_NDK_PATH=$PWD/android-ndk-$ANDROID_NDK_VER
          echo "ANDROID_NDK_PATH=$ANDROID_NDK_PATH" >> $GITHUB_ENV
          echo "LIBCLANG_PATH=$ANDROID_NDK_PATH/toolchains/llvm/prebuilt/linux-x86_64/lib64/libclang.so.13" >> $GITHUB_ENV
          echo "LLVM_CONFIG_PATH=$ANDROID_NDK_PATH/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-config" >> $GITHUB_ENV
          echo "BINDGEN_EXTRA_CLANG_ARGS='-isysroot $ANDROID_NDK_PATH/toolchains/llvm/prebuilt/linux-x86_64/sysroot'" >> $GITHUB_ENV

      # 拉取代码
      - name: Pull wgpu
        shell: bash
        run: |
          set -ex
          git clone --recursive -b v$WGPU_VER https://github.com/gfx-rs/wgpu-native.git wgpu-native

          cp -rf prefab wgpu-native/prefab
          cd wgpu-native

          # workaround missing libgcc in ndk r23+
          mkdir -p web-gpu-native-lib
          echo "INPUT(-lunwind)" | tee web-gpu-native-lib/libgcc.a
          export RUSTFLAGS="-L $PWD/web-gpu-native-lib"

      # 构建 x86-64
      - name: Build x86-64
        shell: bash
        run: |
          set -x
          export CC_X86_64_PATH=$ANDROID_NDK_PATH/toolchains/llvm/prebuilt/linux-x86_64/bin/x86_64-linux-android$ANDROID_MIN_SDK-clang
          export CC=$CC_X86_64_PATH
          export CXX=$CC_X86_64_PATH++
          export CLANG_PATH=$CC_X86_64_PATH
          export CARGO_TARGET_X86_64_LINUX_ANDROID_LINKER=$CC_X86_64_PATH
          export CARGO_BUILD_TARGET=x86_64-linux-android

          cd wgpu-native
          rustup target add x86_64-linux-android
          cargo build --release

      # 构建 arm64
      - name: Build arm64
        shell: bash
        run: |
          set -x
          export CC_ARM64_PATH=$ANDROID_NDK_PATH/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android$ANDROID_MIN_SDK-clang
          export CC=$CC_ARM64_PATH
          export CXX=$CC_ARM64_PATH++
          export CLANG_PATH=$CC_ARM64_PATH
          export CARGO_TARGET_AARCH64_LINUX_ANDROID_LINKER=$CC_ARM64_PATH
          export CARGO_BUILD_TARGET=aarch64-linux-android

          cd wgpu-native
          rustup target add aarch64-linux-android
          cargo build --release

      # 打包
      - name: Package
        shell: bash
        run: |
          set -x
          cd wgpu-native
          export OUTPUT_DIR=prefab/wgpu-$WGPU_AAR_VER

          mv prefab/wgpu-VERSION $OUTPUT_DIR
          mv prefab/wgpu-VERSION.pom $OUTPUT_DIR.pom

          mkdir -p $OUTPUT_DIR/prefab/modules/wgpu/include/wgpu

          cp -f ffi/wgpu.h $OUTPUT_DIR/prefab/modules/wgpu/include/wgpu/wgpu.h
          cp -f ffi/webgpu-headers/webgpu.h $OUTPUT_DIR/prefab/modules/wgpu/include/wgpu/webgpu.h

          ls -al target/x86_64-linux-android/release
          ls -al target/aarch64-linux-android/release
          ls -al $OUTPUT_DIR/prefab/modules/wgpu/libs/android.x86_64
          ls -al $OUTPUT_DIR/prefab/modules/wgpu/libs/android.arm64-v8a

          mv target/x86_64-linux-android/release/libwgpu_native.a $OUTPUT_DIR/prefab/modules/wgpu/libs/android.x86_64/libwgpu_native.a
          mv target/aarch64-linux-android/release/libwgpu_native.a $OUTPUT_DIR/prefab/modules/wgpu/libs/android.arm64-v8a/libwgpu_native.a

          sed -i "s/VER_CODE/$WGPU_VER_CODE/g" $OUTPUT_DIR/AndroidManifest.xml
          sed -i "s/VER_NAME/$WGPU_AAR_VER/g" $OUTPUT_DIR/AndroidManifest.xml
          sed -i "s/VERSION/$WGPU_AAR_VER/g" $OUTPUT_DIR.pom
          sed -i "s/VERSION/$WGPU_VER/g" $OUTPUT_DIR/prefab/prefab.json

          cd $OUTPUT_DIR
          zip -q -r ../wgpu-$WGPU_AAR_VER.aar .
          cd ..
          rm -rf wgpu-$WGPU_AAR_VER
          
          echo `md5sum  wgpu-$WGPU_AAR_VER.aar | awk '{ print $1 }'` > wgpu-$WGPU_AAR_VER.aar.md5
          echo `md5sum  wgpu-$WGPU_AAR_VER.pom | awk '{ print $1 }'` > wgpu-$WGPU_AAR_VER.pom.md5
          echo `sha1sum  wgpu-$WGPU_AAR_VER.aar | awk '{ print $1 }'` > wgpu-$WGPU_AAR_VER.aar.sha1
          echo `sha1sum  wgpu-$WGPU_AAR_VER.pom | awk '{ print $1 }'` > wgpu-$WGPU_AAR_VER.pom.sha1
          
          cd ..
          git clone https://github.com/LimeVista/maven-repo.git /tmp/maven-repo
          
          mkdir -p /tmp/maven-repo/repos/me/limeice/android/wgpu
          mv prefab /tmp/maven-repo/repos/me/limeice/android/wgpu/$WGPU_AAR_VER

      # 创建拉取请求
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          path: /tmp/maven-repo
          token: ${{ secrets.PULL_TOKEN }}
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          title: '[Update] Update wgpu library'
          commit-message: "[Update] wgpu ${{ env.WGPU_AAR_VER }}"
          committer: GitHub <noreply@github.com>
          body: |
            Update report
            - Updated wgpu ${{ env.WGPU_AAR_VER }}
            - Auto-generated by [android wgpu builder][1]

            [1]: https://github.com/LimeVista/android-wgpu-builder
